<html ng-app = "listaTelefonica">
   <head>
      <title>listaTelefonica</title>
      <link rel="stylesheet" href="/static/lib/boostrap4/bootstrap.min.css">
      <style>
         .jumbotron {
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
         }
         .table {
            margin-top: 20px;
         }

         .form-control {
            margin-bottom: 5px;
         }
      </style>
      <script src = "/static/lib/angularjs/angular.min.js"></script>
      
      <script>
         angular.module("listaTelefonica", [])
         angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
               {nome: "Pedro", telefone: "99998888"},
               {nome: "Ana", telefone: "999988768"},
               {nome: "Mario", telefone: "998823864"}
            ];
            $scope.adicionarContato = function () {
               $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
            };
         });
      </script>
   </head>
  
   <body ng-controller = "listaTelefonicaCtrl">
      <div class="jumbotron">
         <h3>{{app}}</h3>
         <table class="table table-striped">
            <tr>
               <th>Nome</th>
               <th>Telefone</th>
            </tr>
            <!--Para repetições for-->
            <tr ng-repeat="contato in contatos">
               <td>{{contato.nome}}</td>
               <td>{{contato.telefone}}</td>
            </tr>
         </table>
         <hr/>
         <input class="form-control" type="text" ng-model="nome"/>
         <input class="form-control" type="text" ng-model="telefone"/>
         <button class="btn btn-primary btn-block" ng-click="adicionarContato()">Adicionar Contato</button>
      </div>
   </body>
</html>